repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        name: Gitleaks
        entry: gitleaks protect --staged --config .gitleaks.toml --verbose
        language: system
        pass_filenames: false
