name: Gitleaks Scan
on:
  push:
    branches: [main, master]
  pull_request:
    workflow_dispatch:

jobs:
  scan:
    name: Gitleaks Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Zizmor (Gitleaks)
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-path: .gitleaks.toml
